
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@import url("styles/header.css");

@import url("styles/rodape.css");

@import url("styles/Apresentacao.css");

*{
    margin: 0%;
    padding: 0%;
}

:root {
    --cor--fundo: #ebecee; 
    --branco:#ffffff;
    --laranja:#eb9b00;
    --azul-degrade: linear-gradient(160deg, #002F52 0%, #326589 100%);
    --fonte-principal: "poppins";
    --azul: #002f52;
    --fonte-secundario: "Josefin sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body{
    height: 100vh;
    background-image: url(img/simbolo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: black;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding: 1px;
    
    

}

