.apresentacao {  
    padding: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black ;
    font-size: 20px;
}
.links-subtitulo{
    color: black;
}
.apresentacao__imagem {
    width: 30%;
    padding: 10%;

}
.links-principal {
    display: flex;  
    flex-direction: column;
    justify-content: center;      
}
.links-navegacao {
    display: flex;
    justify-content: center;
    border: 1px solid #002f52;
    width: 41%;
    text-align: center;
    border-radius: 50px;
    font-size: 1, 5rem;
    padding: 1px 5 1 1;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    background-color: #E6E6FA;
    color: black;
}
.imagem-rede {
    display: flex;
    gap: 10px;
}

